*{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: 'nunitoregular', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #555;
}
a{
    text-decoration: none;
   
}

.head{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    background: linear-gradient(to right, #7eb244, #43C6AC);
}
.section{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}
.subhead ul{
    display: flex;
    gap: 40px;
    margin: 10px;
    padding: 10px;
    list-style: none; /*to remove test dot*/

}

.subhead ul a{
    color:#555;

}
#kvups img{
     width: 90px;
     margin: 10px;
     padding: 10px;

}
#innerspotlight{
    background-image: url("https://kvups.in/images/inner-spotlight-bg.jpg");
    background-size: cover;
    height: 350px;
    background-position: center;
    text-align: center;
   
}
#innerspotlight h1{
    padding-top: 170px;
    font-size: 65px;
    color: white;
    font-weight: bold;
    font-family:'american_captainregular';

}
.photovideomela{
    width: 384px;
    border: 1px solid green;
    margin: 15px auto;

}
.photovideomela a{
    color: #555;
}
#green{
    color: green;
}
.photovideosub{
    display: flex;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 10px;
    gap: 10px;
}
.imagecls{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin: 10px;
    
}
.imagesubcls img{
    width: 100%;

}
.imagesubcls h4{
    text-align: center;
}

/*ACADEMICS CSS*/

.clubaward{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin: 20px;
    padding: 50px;

}

.clubactivity{
    grid-column:span 1;
    padding: 50px;


    
    


}
#imgone{
    display: flex;
    background: #f5f5f5;
    
}

#imgone img{
    height: 150px;
    width: 150px;

}
#imgone h3{
    padding: 10px;
}
.footer{
    background: linear-gradient(to right, #7eb244, #43C6AC);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 30px;
    height: 150px;
    gap: 20px;
    color: white;
}
.footerchild{
    grid-column: span 1 ;
   
}
.footerlast{
    background: #43434f;
    height: 30px;
    color: white;
    text-align: center;
    padding: 20px 0;

}
/*activity CSS*/

.activitybox{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 10px;
    padding: 50px;
    
   

}
.boxone{
  grid-column:span 1; 
  display: flex;
  margin: 15px;
  gap: 10px;
  border: 2px solid #7eb244 ;
  
  
    

}
.kallarafest{
    width: 80%;
    text-align: justify;
    line-height: 20px;
    min-height: 450px;
}   
.kallarafest h4{
    text-align: center;

} 

.orange{
    background-color: orange;
    width: 8%;
    
    
}
.blue{
    background-color: skyblue;
     width: 8%;
    
}   
.color3{
    background-color: #009688;
     width: 8%;
     
}  
.color4{
    background-color: #2196F3;
     width: 8%;
     
}
.color5{
    background-color: #3F51B5;
     width: 8%;
     
}
.color6{
    background-color: #673AB7;
     width: 8%;
     
}
.color7{
    background-color:#F44336;
     width: 8%;
     
}
.color8{
    background-color:#E91E63;
     width: 8%;
      
}
.color9{
    background-color:#9C27B0;
     width: 8%;
      
}